.header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    background-color: #F55A5A;
}

.header > h1{
    color: white;
    font-size: 0.975rem;
    font-family: 'Inter', sans-serif;
}